<footer class="footer">
    <p>&copy; <%= date(new Date(), 'YYYY') %><a href="https://github.com/FangWW?tab=repositories"> <%= config.author || config.title %></a>
 由Hexo强力驱动 搭载gstyle主题</p>
<p>Hosted by <a href="https://pages.coding.me">Coding Pages</a></p>
</footer>
<%- js('lib/jquery') %>
<%- js('lib/waves') %>
<%- js('lib/jquery-ui') %>
<%- js('lib/jquery.tocify') %>
<%- js('js/main') %>
